._login {
  text-align: center;
  margin: auto auto;
}
._main {
  font-family: 'Josefin Sans';
  margin: 0 auto;
}
._button {
  border: 1px solid black;
  background-color: #f7f7f7;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Josefin Sans';
  line-height: 30px;
  height: 40px;
  text-align: center;
}
._button:hover {
  background-color: #d3d3d3;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
._google {
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 5px;
}
._google:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid #82b1ff;
  border-radius: 50%;
}
._para {
  font-size: 18px;
}
._game {
  width: 50%;
  float: right;
  margin: 0 auto;
}
.to_the_left {
  margin-top: 80px;
  float: left;
  width: 50%;
}
