._login {
  text-align: center;
}
._main {
  max-width: 90%;
  min-height: 80%;
  display: flex;
  margin: 0 auto;
  border: 2px solid #313233;
  background-color: blanchedalmond;
}
._button {
  border: 1px solid black;
  background-color: #803E00;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-family: 'Josefin Sans';
  line-height: 30px;
  height: 30px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
._button:hover {
  background-color: #F0B27A;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
._game {
  width: 50%;
  float: right;
}
.to_the_left {
  float: left;
  width: 50%;
}
