.square {
  background-color: #FCD995;
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.square div {
  width: 17px;
  height: 17px;
  pointer-events: none;
}
.nw {
  border-right: 1px solid #854F35;
  border-bottom: 1px solid #854F35;
}
.ne {
  border-left: 1px solid #854F35;
  border-bottom: 1px solid #854F35;
}
.sw {
  border-top: 1px solid #854F35;
  border-right: 1px solid #854F35;
}
.se {
  border-top: 1px solid #854F35;
  border-left: 1px solid #854F35;
}
