$color: (
  "light": #f7f7f7,
  "dark": #d3d3d3
);

._app {
  height: 100%;
}
._sidebar {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  background-color: map-get($color, "light");
  font-family: 'Josefin Sans';
  font-weight: bold;
  border-right: map-get($color, "dark");
}
._landing {
  text-align: center;
  margin: auto auto;
}
._main {
  font-family: 'Josefin Sans';
  margin-left: 140px;
}
._button {
  border: 1px solid black;
  background-color: map-get($color, "light");
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Josefin Sans';
  line-height: 30px;
  height: 45px;
  width: 90px;
  text-align: center;
  margin: 5px;
}
._user {
  margin-top: 20px;
  margin-bottom: 20px;
}
._button:hover {
  background-color: map-get($color, "dark");
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
._para {
  font-size: 18px;
}
._game {
  margin: 0 auto;
  padding: 0 auto;
}
