@font-face {
  font-family: 'Ailerons';
  src: url(./fonts/Ailerons.otf);
}
@font-face {
  font-family: 'Accent';
  src: url(./fonts/Accent.ttf);
}
._app {
  height: 100%;
  background-size: 64.27px 167.43px;
}
._title {
  float: left;
  padding-left: 10px;
  font-family: 'Josefin Sans';
  font-weight: bold;
  text-align: center;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
._header {
  background-color: #448aff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 4px solid #82b1ff;
}
._FRN {
  float: right;
  padding-right: 10px;
  padding-top: 8px;
  line-height:
}
.bar_footer {
  font-family: 'Libre Barcode 39';
  background-color: #82b1ff;
  /* border-top: 4px solid black; */
  border-top: 4px solid #448aff;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
