.GameBoard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 6px solid #b29a69;
}
Point:hover {
  /* Display Black Piece, make transparent */
}
Point:hover {
  /* Display white Piecek make transparent */
}
.White {
  width: 28px;
  border-radius: 50%;
  border: 2px solid white;
}
.Black {
  width: 28px;
  border-radius: 50%;
  border: 2px solid black;
}
